{% extends "base.html" %}
{% load static %}

{% block content %}
  <head>
    <link rel="stylesheet" href="{% static 'login.css' %}" />
  </head>
  <body>
    <div class='login-ctn'>
      <div class='login-back'>
        <a href="{% url 'home' %}" class='login-back-link'>Go Back</a>
      </div>
      <div class='login-all'>
        {% if form.errors %}
          <p>Your username and password didn't match. Please try again.</p>
        {% endif %}

        {% if next %}
          {% if user.is_authenticated %}
            <p>Your account doesn't have access to this page. To proceed,
            please login with an account that has access.</p>
          {% else %}
            <p>Please login to see this page.</p>
          {% endif %}
        {% endif %}
        <h1>Log In</h1>
        <form method="post" action="{% url 'login' %}" class='login-form'>
          {% csrf_token %}
          <table class='login-table'>
            <tr>
              <td>{{ form.username.label_tag }}</td>
              <td>{{ form.username }}</td>
            </tr>
            <tr>
              <td>{{ form.password.label_tag }}</td>
              <td>{{ form.password }}</td>
            </tr>
          </table>
          <input type="submit" value="login" class='login-button'>
          <input type="hidden" name="next" value="{{ next }}">
        </form>
      </div>
    </div>
  </body>
{% endblock %}
