{% load static %}

<html>
  <head>
    <link rel="stylesheet" href="{% static 'base.css' %}" />
    <link rel="stylesheet" href="{% static 'event_details.css' %}" />
    <link rel="stylesheet" href="{% static 'events.css' %}" />
    <link rel="stylesheet" href="{% static 'home.css' %}" />
    <link rel="stylesheet" href="{% static 'login.css' %}" />
    <link rel="stylesheet" href="{% static 'profile.css' %}" />
    <link rel="stylesheet" href="{% static 'register.css' %}" />
    <link rel="stylesheet" href="{% static 'tickets.css' %}" />
    <link rel="stylesheet" href="{% static 'venue_details.css' %}" />
    <link rel="stylesheet" href="{% static 'venues.css' %}" />
  </head>

  <header>
    <div class="nav-container">
      <div class="logo-container">
        <a href="/">
          <img
            class="logo"
            src="{% static 'tick-it_logo.png' %}"
            alt="Tick-iT Logo"
          />
        </a>
      </div>
      <div class="nav-text">
        {% if user.is_authenticated %}
          <a href="{% url 'logout' %}?next={% url 'home' %}">Logout</a>
          {% if user.is_venue %}
              <a href="{% url 'venue_create_view' %}">Create Venue</a>
          {% endif %}
        {% else %}
          <a href="{% url 'login' %}">Login</a>
          <a href="{% url 'register' %}">Register</a>
        {% endif %}
        <a href="{% url 'venues_list_view' %}">Venues</a>
        <a id='end-nav' href="{% url 'events_list_view' %}">Events</a>
    </div>
  </header>

  <main>
    {% block content %}
    {% endblock %}
  </main>

  <footer>
    <div class='footer-container'>
    <div class='footer-title'>
      <h4>Contributors</h4>
    </div>
    <div class='contributor-container'>
      <div class="contributors">
        <ul>
          <h4 class='contributor-name'>Charlotte Fusco
          </h4>
            <li>
              <div class="socials">
                <a href="https://github.com/nezcodin" target="_blank">GitHub</a>
                <a href="https://www.linkedin.com/in/charlottefusco/" target="_blank">LinkedIn</a>
              </div>
            </li>
        </ul>
      </div>
      <div class="contributors">
        <ul>
          <h4 class='contributor-name'>Duncan Wood</h4>
            <li>
              <div class="socials">
                <a href="https://github.com/Duncan-Wood" target="_blank">GitHub</a>
                <a href="https://www.linkedin.com/in/duncanwoodpro/" target="_blank">LinkedIn</a>
              </div>
            </li>
        </ul>
      </div>
      <div class="contributors">
        <ul>
          <h4 class='contributor-name'>Meixing Chueng </h4>
            <li>
              <div class="socials">
                <a href="https://github.com/meixingc" target="_blank">GitHub</a>
                <a href="https://www.linkedin.com/in/meixingc/" target="_blank">LinkedIn</a>
              </div>
            </li>
        </ul>
      </div>
    </div>
  </div>
  </footer>
</html>
