{% extends 'base.html' %}
{% block content %}
{% load static %}

<html>
  <head>
    <link rel="stylesheet" href="{% static 'event_details.css' %}" />
  </head>
  <body>
    <a href="{% url 'events_list_view' %}">Go Back</a>
    <div class='event-details-container'>
        <h2>Event Details</h2>
        <div class='event-details-header'>
            <div>
                <h3> {{ event.name }} | {{ event.category }} </h3>
            <div>
            <div>
                {% comment %} Event date is not set up in the model! <h3> {{ event.date }} | test </h3> {% endcomment %}
                {% comment %} Venue model is not working! there is no info on Venue! {{ event.venue.venue }} {% endcomment %}
            <div>
        </div>
        <div class='event-description'>
            <p> {{ event.description }} </p>
        </div>
        <div class='event-details-footer'>
            <div>
                <h3> Tickets Available: X </h3>
            <div>
            <div>
                <button> Buy Tickets </button>
            </div>
    </div>
  </body> 
    {% endblock %}
</html>
