{% extends 'base.html' %}{% block content %}
{% load static %}
<html>
  <head>
    <link rel="stylesheet" href="{% static 'events.css' %}">
  </head>

  <body>
    <h2 class="title">All Events</h2>
    <hr class="line">
    <div class="events-container">

      {% for event in events%}

        <div class="event">
          <div class="image-container">
            <img src={{ event.photo_url }}>
          </div>

          <div class="details-container">

            <div class="event-name-link">
              <h4 class="heading">{{ event.name }}</h4>
              <p>artist name</p>
              <a href='{% url 'event_details_view' event.pk %}'>See Event Details...</a>
            </div>

            <div class="event-venue-button">
              <h4 class="heading">{{ event.venue }}</h4>
              <p>{{ event.date }} | {{event.time}}</p>
              <button>Buy a Ticket</button>
            </div>

          </div>

        </div>
        <hr class="line">

      {% endfor %}

    </div>
  </body>
  
  {% endblock %}
</html>