{% extends 'base.html' %}{% block content %}
{% load static %}
<html>
  <head>
    <link rel="stylesheet" href="{% static 'events.css' %}">
  </head>

  <body>
    <h2>All Events</h2>
    <hr class="line">
    <div class="events-container">
      <div class="event">
        <div class="image-container">
          <img src="https://images.pexels.com/photos/268533/pexels-photo-268533.jpeg?cs=srgb&dl=pexels-pixabay-268533.jpg&fm=jpg">
        </div>
        <div class="details-container">
          <div class="event-name">
            <h4>event name</h4>
            <p>artist name</p>
          </div>
          <div class="event-venue">
            <h4>venue</h4>
            <p>date|time</p>
          </div>
        </div>
        <div class="link">
          <a href=''>See Event Details...</a>
        </div>
        <div class="button-container">          
          <button>Buy a Ticket</button>
        </div>
      </div>
      <hr class="line">
      <div class="event">
        <!-- Add content for second event -->
      </div>
      <hr class="line">
      <div class="event">
        <!-- Add content for third event -->
      </div>
    </div>
  </body>
  
  {% endblock %}
</html>