{% extends 'base.html' %}
{% load static %}
{% block content %} 

<html>
  <head>
    <link rel="stylesheet" href="{% static 'event_details.css' %}" />
  </head> 
  <body>
    <a href="{% url 'events_list_view' %}">Go Back</a>
    <div class='event-details-container'>
        <h2 class="title">Event Details</h2>
        <div class='event-details-header'>
            <div class="name-cat-artist">
                <h3> {{ event.name }} | {{ event.category }} | {{ event.artist }}</h3>
            </div>
            <div class="date-time-venue">
                <h3>{{ event.date }} | {{ event.time }} | {{ event.venue }}</h3>
            </div>
        </div>
        <hr class="line"></hr>
        <div class='event-description'>
            <p> {{ event.description }} </p>
        </div>
        <div class='event-details-footer'>
            <div>
                <h3 id="tickets-available"> Tickets Available: {{ tickets_available }} </h3>
            </div>
            <hr class="line"></hr>
            <div class="buy-tickets-button">
                <button onclick="window.location.href='{% url 'purchase_tickets' event.pk %}'"> Buy Tickets </button>
            </div>
    </div>
  </body> 
    {% endblock %}
</html>
