{% extends 'base.html' %}{% block content %}
{% load static %}
<html>
  <head>
    <link rel="stylesheet" href="{% static 'home.css' %}">
  </head>
  <body>


    <div class="featured-events">
      <h2>Featured Events</h2>

      <hr class="line"></hr>

      <div class="events-container">
        {% comment %} set up a for loop displaying 10 random events {% endcomment %}
        {% for event in events %}
          <div class="featured-event-container">
            <img src={{ event.photo_url }}></img>
            <p>{{ event.name }}</p>
            <p>{{ event.date }}</p>
          </div>
        {% endfor %}

      </div>

      <a href="events/" class="view-all">View All Events...</a>
    </div>

    <div class="featured-venues">
      <h2>Featured Venues</h2>

        <hr class="line"></hr>

        <div class="venues-container">
          {% comment %} set up a for loop displaying 10 random venues {% endcomment %}
          {% for venue in venues %}
            <div class="venue-container">
              <img src={{ venue.photo_url }}></img>
              <p>{{ venue.name }}</p>
              <p>{{ venue.location }}</p>
            </div>
          {% endfor %}

        </div>

        <a href="venues/" class="view-all">View All Venues...</a>  
    </div>    


  </body>
  {% endblock %}
</html>