{% extends 'base.html' %}{% block content %}
{% load static %}
<html>
  <head>
    <link rel="stylesheet" href="{% static 'home.css' %}">
  </head>
  <body>


    <div class="featured-events">
      <h2>Featured Events</h2>

      <hr class="line"></hr>

      <div class="events-container">

        <div class="featured-event-container">

        </div>
        <div class="featured-event-container">

        </div>
        <div class="featured-event-container">

        </div>
        <div class="featured-event-container">

        </div>
        <div class="featured-event-container">

        </div>
        <div class="featured-event-container">

        </div>
        <div class="featured-event-container">

        </div>
        <div class="featured-event-container">

        </div>
        

      </div>

      <a href="" class="view-all">View All Events...</a>
    </div>

    <div class="featured-venues">
      <h2>Featured Venues</h2>

        <hr class="line"></hr>

        <div class="venues-container">

          <div class="venue-container">

          </div>
          <div class="venue-container">

          </div>
          <div class="venue-container">

          </div>
          <div class="venue-container">

          </div>
          <div class="venue-container">

          </div>
          <div class="venue-container">

          </div>
          <div class="venue-container">

          </div>
          <div class="venue-container">

          </div>
          <div class="venue-container">

          </div>

        </div>

        <a href="" class="view-all">View All Venues...</a>  
    </div>    


  </body>
  {% endblock %}
</html>