{% extends "base.html" %}
{% load static %}

{% block content %}
  <head>
    <link rel="stylesheet" href="{% static 'register.css' %}" />
  </head>
  <body>
    <div class='register-ctn'>
      <button class="back-button" onclick="window.location.href='{% url 'home' %}'">Go Back</button>
      <div class='register-all'> 
        <div class='register-title'>
          <h2 class='register-title'>Create Account</h2>
        </div>
        <form method="post" action="{% url 'register' %}" class='form'>
          {% csrf_token %}
          {{ form.as_p }}
          <button id="register-btn" type="submit">Register</button>
        </form>
      </div>
    </div>
  </body>
{% endblock %}