{% extends 'base.html' %}{% block content %}
{% load static %}
<html>
  <head>
    <link rel="stylesheet" href="{% static 'tickets.css' %}">
  </head>

  <body>
    <h2 class="title">Purchase Tickets</h2>
    <hr class="line">

    <div class="tickets-container">

      <div class="ticket">        
        <h4>{{ event.name }}</h4>
        <p>{{ event.venue }}</p>
        <p>{{ event.date }} | {{ event.time }}</p>
        <h5>Price: ${{ ticket.price }}</h5>
      </div>

      <p>+ Add Another Ticket</p>

      <div class="cost">
        <p>Tickets: $</p>
        <p>Sales Tax: $10</p>
        <h4>Total: $</h4>
      </div>

    </div>

    <hr class="line">
    <button>Make Purchase</button>
  </body> 

  {% endblock %}
</html>