{% extends 'base.html' %}{% block content %}
{% load static %}
<html>
  <head>
    <link rel="stylesheet" href="{% static 'tickets.css' %}">
  </head>

  <body>
    <h2 class="title">Purchase Tickets</h2>
    <hr class="line">

    <div class="tickets-container">

      <div class="ticket"> 
        <div class="name-venue">       
          <h4 id="event-name">{{ event.name }}</h4>
          <p id="event-venue">{{ event.venue }}</p>
        </div>
        <div class="date-price">
          <p id="date-time">{{ event.date }} | {{ event.time }}</p>
          <h5 id="price">Price: ${{ ticket.price }}</h5>
        </div>
      </div>

      <p id="add">+ Add Another Ticket</p>

      <div class="cost">
        <p>Tickets: $</p>
        <p>Sales Tax: $10</p>
        <h4>Total: $</h4>
      </div>

    </div>

    <hr class="line">
    <div class="button-container">
      <button id="purchase">Make Purchase</button>
    </div>
  </body> 

  {% endblock %}
</html>