{% extends 'base.html' %}{% block content %}
{% load static %}
<html>
  <head>
    <link rel="stylesheet" href="{% static 'tickets.css' %}">
  </head>

  <body>
    <button class="back-button" onclick="window.location.href='{% url 'events_list_view' %}'">Go Back</button>
    <h2 class="title">Purchase Tickets</h2>
    <hr class="line">
    <h2 class="event-title">{{ event.name }}</h2>

    <div class="tickets-container">

      {% for ticket in event.eventtickets.all %}
      <div class="ticket"> 
        <div class="name-venue">       
          <h4 id="event-name">{{ event.name }}</h4>
          <p id="event-venue">{{ event.venue }}</p>
        </div>
        <div class="date-price">
          <p id="date-time">{{ event.date }} | {{ event.time }}</p>
          <h4 id="price">Price: ${{ ticket.price }}</h4>
        </div>
      </div>
      {% endfor %}

      {% comment %} <p id="add">+ Add Another Ticket</p> {% endcomment %}

      <div class="cost-container">
        <div class="cost">
          <p>Tickets: ${{ total_cost_tickets }}</p>
          <p>Sales Tax (10%): ${{ sales_tax }}</p>
          <h4>Total: ${{ total_cost_with_tax }}</h4>
        </div>
      </div>

    </div>

    <hr class="line">
    <div class="button-container">
      <button id="purchase" onclick="window.location.href='{% url 'thank_you_view' %}'">Make Purchase</button>
    </div>
  </body> 

  {% endblock %}
</html>