{% extends 'base.html' %}
{% load static %}
<html>

  <head>
    <link rel="stylesheet" href="{% static 'venues.css' %}">
  </head>
  {% block content %}
  <body>

    <h2 class="title">All Venues</h2>
    <hr class="line"></hr>

    <div class="venues-container">

      {% for venue in venues %}

        <div class="venue">
          <div class="image-container">
            <img src={{ venue.photo_url }} alt={{ venue.name }}>
          </div>

          <div class="venue-location">
            <h4>{{ venue.name }}</h4>
            <p>{{ venue.location }}</p>
          </div>

          <a class="link" href="{% url 'venue_details_view' pk=venue.pk %}">See Venue Details...</a>
        </div>
        <hr class="line"></hr>

      {% endfor %}

      </div>

  </body>

  {% endblock %}
</html>