@import url(./css/tokens.css);
@import url(./css/colors.module.css);
@import url(./css/typography.module.css);
@import url(./css/theme.light.css) (prefers-color-scheme: light);
@import url(./css/theme.dark.css) (prefers-color-scheme: dark);


html {
  position: relative;
  min-height: 100%;
}
header {
  margin: 0 0;
  background-color: var(--md-sys-color-primary);
  border-radius: 1em;
}

footer {
  width: 100%;
  margin-top: 3rem;
  background-color: var(--md-sys-color-primary);
  border-radius: 1em;
  padding-top: -1em;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.nav-container a {
  text-align: center;
  padding: 30px 20px;
  text-decoration: none;
  color: var(--md-sys-color-on-primary);
}

.nav-container .nav-text a:hover {
  background-color: var(--md-sys-color-primary-container);
  color: var(--md-sys-color-on-primary-container);
}

.nav-container .logo-container:hover {
  background-color: var(--md-sys-color-primary-container);
}

.nav-container .logo {
  margin: 2vw;
  height: 12vh;
  justify-content: flex-start;
}

#end-nav {
  margin-right: 3vh;
}

.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}

.footer-title {
  align-self: center;
}

.contributors {
  text-align: center;
}

.contributor-container {
  display: flex;
  justify-content: space-evenly;
}

.contributors ul {
  list-style: none;
  justify-self: center;
  align-self: center;
  margin-left: -5vh;
}

.contributors li {
  list-style: none;
}

.socials {
  height: fit-content;
}

.socials a {
  color: var(--md-sys-color-on-primary);
  text-align: center;
  padding: 0 10px;
  text-decoration: none;
  height: fit-content;
}

.socials a:hover {
  background-color: var(--md-sys-color-primary-container);
  color: var(--md-sys-color-on-primary-container);
}