@import url(./css/tokens.css);
@import url(./css/colors.module.css);
@import url(./css/typography.module.css);
@import url(./css/theme.light.css) (prefers-color-scheme: light);
@import url(./css/theme.dark.css) (prefers-color-scheme: dark);

.event-title {
  margin-top: 3rem;
  margin-left: 1rem;
  color: var(--md-sys-color-on-secondary-container);
}

.event-line {
  height: 1px;
  border: 0;
  background-color: var(--md-sys-color-on-secondary-container);
  width: 95%;
  margin-left: 1rem;
}

.event {
  background-color: var(--md-sys-color-primary-container);
  height: 10rem;
  width: 95%;
  margin-bottom: 1rem;
  margin-top: 1rem;
  display: flex;
}

.events-container {
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
}

.image-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-container img {
  height: 8rem;
  width: 8rem;
  border-radius: 10rem;
  margin-left: 2rem;
}

.event-name-link {
  display: flex;
  flex-direction: column;
  margin-top: -0.5rem;
  height: 1rem;
  width: 20rem;
  margin-left: 2rem;
}

#event-name {
  margin-bottom: -1rem;
}

#artist-name {
  margin-bottom: 4.5rem;
}

.event-venue-button {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-left: 65rem;
  margin-top: -0.5rem;
  margin-right: 2rem;
  width: 10rem;
}

#venue-name {
  margin-bottom: -1rem;
}

#date-time {
  margin-bottom: 3.5rem;
}

#buy-ticket-button {
  border-radius: 5rem;
  width: 7rem;
  height: 2rem;
  background-color: var(--md-sys-color-tertiary);
  color: var(--md-sys-color-on-tertiary);
  border-color: var(--md-sys-color-on-tertiary-container);
}

.event-heading {
  color: var(--md-sys-color-on-primary-container);
}

.event-details-link {
  color: var(--md-sys-color-on-primary-container);
}

.event-p {
  color: var(--md-sys-color-on-primary-container);
}