@import url(./css/tokens.css);
@import url(./css/colors.module.css);
@import url(./css/typography.module.css);
@import url(./css/theme.light.css) (prefers-color-scheme: light);
@import url(./css/theme.dark.css) (prefers-color-scheme: dark);

.featured-event-container {
  background-color: var(--md-sys-color-primary-container);
  height: 20rem;
  width: 15rem;
}

.venue-container {
  background-color: var(--md-sys-color-primary-container);
  flex: 0 0 auto;
  height: 20rem;
  width: 15rem;
  margin-right: 6rem;
  margin-left: 1rem;
  margin-bottom: 2rem;
}

.venues-container {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  scroll-behavior: smooth;
  margin-bottom: 2rem;
}

.venues-container::-webkit-scrollbar {
  width: 80%;
  height: 10px;
}

.venues-container::-webkit-scrollbar-track {
  background: var(--md-sys-color-secondary);
  width: 80%;
  border-radius: 10px;
}

.venues-container::-webkit-scrollbar-thumb {
  background-color: var(--md-sys-color-on-secondary-container);
  border-radius: 10px;
  width: 0%;
}

.events-container {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  scroll-behavior: smooth;
  margin-bottom: 2rem;
}

.events-container::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.events-container::-webkit-scrollbar-track {
  background: var(--md-sys-color-secondary);
  border-radius: 10px;
}

.events-container::-webkit-scrollbar-thumb {
  background-color: var(--md-sys-color-on-secondary-container);
  border-radius: 10px;
  width: 0%;
}

.featured-event-container {
  background-color: var(--md-sys-color-primary-container);
  flex: 0 0 auto;
  height: 20rem;
  width: 15rem;
  margin-right: 6rem;
  margin-left: 1rem;
  margin-bottom: 2rem;
}

.view-all {
  margin: 10px;
}

h2 {
  margin-left: 10px;
  color: var(--md-sys-color-on-secondary-container);
}

hr.line {
  height: 1px;
  border: 0;
  background-color: var(--md-sys-color-on-secondary-container);
  width: 98%;
  margin-left: 10px;
  margin-bottom: 20px;
  margin-top: -10px;
}

.featured-venues {
  margin-top: 50px;
  margin-bottom: 3rem;
}

.featured-events {
  margin-top: 50px;
}

img {
  height: 13rem;
  width: 12rem;
  display: flex;
  margin: auto;
  margin-top: 1rem;
}

p {
  color: var(--md-sys-color-on-primary-container);
  margin-left: 1.5rem;
}

a {
  color: var(--md-sys-color-on-secondary-container)
}