@import url(./css/tokens.css);
@import url(./css/colors.module.css);
@import url(./css/typography.module.css);
@import url(./css/theme.light.css) (prefers-color-scheme: light);
@import url(./css/theme.dark.css) (prefers-color-scheme: dark);

html {
  text-align: center;
  align-items: center;
}

.login-ctn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-back {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  margin-bottom: 3rem;
  margin-top: 3rem;
  border-radius: 5rem;
  width: 7rem;
  height: 2rem;
  background-color: var(--md-sys-color-tertiary);
}

.login-back-link {
  color: var(--md-sys-color-on-tertiary);
  text-decoration: none;
}

/* .login-back:hover {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  border: solid 1px #000000;
} */

.login-all {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  border: 1px solid rgb(255, 255, 255);
  width: 25rem;
  height: 15rem;
  border-radius: 1em;
  background-color: var(--md-sys-color-primary-container);
}

.login-title {
  font-family: 'Roboto', sans-serif;
  color: var(--md-sys-color-on-primary-container);
  font-size: 30px;
  margin-top: 4rem;
}

.login-button {
  font-size: 12px;
  margin-bottom: 3rem;
  margin-top: 1rem;
  border-radius: 5rem;
  width: 7rem;
  height: 2rem;
  background-color: var(--md-sys-color-tertiary);
  color: var(--md-sys-color-on-tertiary);
  border-color: var(--md-sys-color-on-tertiary-container);
  margin-left: 7rem;
  text-align: center;
}

input {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  width: 15rem;
  border-radius: 5rem;
  padding-left: 1rem;
  border-color: var(--md-sys-color-on-secondary-container);
}

/* .login-button:hover {
  background-color: #ffc9d4;
  color: rgb(0, 0, 0);
} */