@import url(./css/tokens.css);
@import url(./css/colors.module.css);
@import url(./css/typography.module.css);
@import url(./css/theme.light.css) (prefers-color-scheme: light);
@import url(./css/theme.dark.css) (prefers-color-scheme: dark);

.back-button {
  margin: 1rem;
  border-radius: 5rem;
  width: 5rem;
  height: 2rem;
  background-color: var(--md-sys-color-tertiary);
  color: var(--md-sys-color-on-tertiary);
  border-color: var(--md-sys-color-on-tertiary-container);
}

html {
  text-align: center;
  align-items: center;
}

.register-ctn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3rem;
}

.register-back {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  margin-bottom: 1rem;
  margin-top: -1rem;
  border-radius: 5rem;
  width: 7rem;
  height: 2rem;
  background-color: var(--md-sys-color-tertiary);
}

.register-back-link {
  color: var(--md-sys-color-on-tertiary);
  text-decoration: none;
}

/* .register-back:hover {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  box-shadow: 2px 2px 2px rgb(44, 44, 44);
  border: solid 1px #000000;
} */

.register-all {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30rem;
  height: 35rem;
  border-radius: 1em;
  background-color: var(--md-sys-color-primary-container);
}

.form {
  color: var(--md-sys-color-on-primary-container);
}

.form-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.register-title {
  margin-top: 0px;
  margin-bottom: 0px;
  color: var(--md-sys-color-on-primary-container);
  font-size: 30px;
}

.form-control {
  color: var(--md-sys-color-on-secondary-container);
}

#register-btn {
  border-radius: 5rem;
  width: 7rem;
  height: 2rem;
  background-color: var(--md-sys-color-tertiary);
  color: var(--md-sys-color-on-tertiary);
  border-color: var(--md-sys-color-on-tertiary-container);
}

input {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  width: 20rem;
  border-radius: 5rem;
  padding-left: 1rem;
  border-color: var(--md-sys-color-on-secondary-container);
}