@import url(./css/tokens.css);
@import url(./css/colors.module.css);
@import url(./css/typography.module.css);
@import url(./css/theme.light.css) (prefers-color-scheme: light);
@import url(./css/theme.dark.css) (prefers-color-scheme: dark);

.back-button {
  margin: 1rem;
  border-radius: 5rem;
  width: 5rem;
  height: 2rem;
  background-color: var(--md-sys-color-tertiary);
  color: var(--md-sys-color-on-tertiary);
  border-color: var(--md-sys-color-on-tertiary-container);
}

body {
  height: 100%;
  width: 99%;
}

.title {
  margin-left: 1rem;
}

.event-title {
  margin-left: 2rem;
}

.ticket-container {
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
}

.ticket {
  background-color: var(--md-sys-color-primary-container);
  height: 10rem;
  width: 96%;
  margin-bottom: 1rem;
  margin-top: 1rem;
  margin-left: 2rem;
  display: flex;
}

.name-venue {
  display: flex;
  flex-direction: column;
  margin-top: -0.5rem;
  height: 1rem;
  width: 20rem;
  margin-left: 1rem;
}

#event-name {
  margin-bottom: -0.7rem;
}

.date-price {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-left: 65rem;
  width: 10rem;
  margin-right: 2rem;
}

#date-time {
  width: 10rem;
  margin-bottom: 4.5rem;
}

/* #add {
  display: flex;
  justify-content: end;
  margin-right: 2rem;
} */

.cost-container {
  margin-top: 5rem;
  display: flex;
  height: 10rem;
  width: 100%;
  justify-content: end;
}

.cost {
  height: 10rem;
  width: 15rem;
  display: flex;
  flex-direction: column;
  text-align: right;
  margin-right: 2rem;
}

.button-container {
  height: 5rem;
  width: 100%;
  display: flex;
  justify-content: end;
}

#purchase {
  border-radius: 5rem;
  width: 7rem;
  height: 2rem;
  background-color: var(--md-sys-color-tertiary);
  color: var(--md-sys-color-on-tertiary);
  border-color: var(--md-sys-color-on-tertiary-container);
  margin: 1rem;
  margin-right: 1rem;
}

.line {
  height: 1px;
  border: 0;
  background-color: var(--md-sys-color-on-secondary-container);
  width: 95%;
  margin-left: 1rem;
}