@import url(./css/tokens.css);
@import url(./css/colors.module.css);
@import url(./css/typography.module.css);
@import url(./css/theme.light.css) (prefers-color-scheme: light);
@import url(./css/theme.dark.css) (prefers-color-scheme: dark);

.venue-details-container {
    background-color: red;
    height: 10rem;
    width: 80%;
}
  
h2 {
    color: red;
}
.venue-event-container {
    background-color: blue;
    height: 10rem;
    width: 80%;
}
  
  .events-container {
    background-color: brown;
  }