@import url(./css/tokens.css);
@import url(./css/colors.module.css);
@import url(./css/typography.module.css);
@import url(./css/theme.light.css) (prefers-color-scheme: light);
@import url(./css/theme.dark.css) (prefers-color-scheme: dark);

.venue-details-container {
  width: 100%;
}

#back-link {
  margin: 1rem;
  display: flex;
}

.title {
  display: flex;
  margin-left: 1rem;
}

.venue-details-header {
  display: flex;
  flex-direction: column;
  margin: 2rem;
  margin-top: -2rem;
}

.venue-details-header img {
  height: 20rem;
  width: 20rem;
}

.update-delete-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 2rem;
  margin-top: -1rem;
  margin-bottom: 0rem;
}

#update-button {
  border-radius: 5rem;
  width: 7rem;
  height: 2rem;
  background-color: var(--md-sys-color-tertiary);
  color: var(--md-sys-color-on-tertiary);
  border-color: var(--md-sys-color-on-tertiary-container);
}

#delete-button {
  border-radius: 5rem;
  width: 7rem;
  height: 2rem;
  background-color: var(--md-sys-color-tertiary);
  color: var(--md-sys-color-on-tertiary);
  border-color: var(--md-sys-color-on-tertiary-container);
}

.event {
  background-color: var(--md-sys-color-primary-container);
  height: 12rem;
  width: 95%;
  display: flex;
}

.image-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.event img {
  height: 8rem;
  width: 8rem;
  border-radius: 10rem;
  margin-left: 2rem;
}

.event-name-link {
  display: flex;
  flex-direction: column;
  margin-top: -0.5rem;
  height: 1rem;
  width: 20rem;
  margin-left: 2rem;
}

#event-name {
  margin-bottom: -1rem;
}

#artist-name {
  margin-bottom: 6rem;
}

.event-venue-button {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-left: 67rem;
  margin-top: -1rem;
  margin-right: 2rem;
  width: 10rem;
}

#venue-name {
  margin-bottom: -1rem;
  margin-left: 3rem;
}

#date-time {
  margin-bottom: 3.5rem;
  margin-right: 1rem;
}

#buy-ticket-button {
  border-radius: 5rem;
  width: 7rem;
  height: 2rem;
  background-color: var(--md-sys-color-tertiary);
  color: var(--md-sys-color-on-tertiary);
  border-color: var(--md-sys-color-on-tertiary-container);
  margin-top: -2rem;
  margin-right: 2rem;
}

.line {
  height: 1px;
  background-color: var(--md-sys-color-on-secondary-container);
  width: 98%;
  border: 0;
}

.link {
  color: var(--md-sys-color-on-primary-container);
}